<div class="col-md-4">
  <div class="card card-primary card-outline">
    <div class="card-body box-profile">
      <div class="text-center">
        <img class="profile-user-img img-fluid img-circle" src="" alt="Cus pic" id="cuspic">
      </div>
      <p class="text-muted text-center" id="demoPhone"></p>
        <% url = record.is_a?(Referrer) ? admin_referrer_path(record) : admin_customer_path(record) %>
        <%= form_with(model: record, url: url, id: 'record_info', method: :put) do |form| %>
          <ul class="list-group list-group-unbordered mb-3">
            <li class="list-group-item">
              <b>Tên</b> <%= form.text_field :name, class: 'float-right text-right border-0', id: 'inpName' %>
            </li>
            <li class="list-group-item">
              <b>SĐT</b> <%= form.text_field :phone, class: 'float-right text-right border-0', id: 'inpPhone', maxLength: 10 %>
            </li>
          <% if record.is_a?(Referrer) %>
            <li class="list-group-item">
              <b class="text-wrap">Thông Tin NH</b> <%= form.text_area :banking_informations, class: 'float-right text-right border-0', id: 'inpBank', rows: 5 %>
            </li>
          <% end %>
          </ul>
          <%= form.hidden_field :id %>
          <%= form.submit 'Cập Nhật', class: 'btn btn-primary btn-block', id: 'refUpdate' %>
        <% end %>
    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
    window.onload = cusPic();
    function cusPic(){
        $('#cuspic').attr('src', 'https://avatars.dicebear.com/api/adventurer/<%= record.name %>.svg')
    }
</script>
