<!-- /.card-body -->
<div class="card-body table-responsive p-0" style="height: 400px;">
  <table id="prodTable"  class="table table-head-fixed table-striped text-nowrap">

    <thead>
    <tr>
      <th>Tên Sản Phẩm</th>
      <th>Price</th>
      <th>Dung Tích</th>
      <th style="width: 20px;">Thao Tác</th>
    </tr>
    </thead>

    <tbody>
      <% @products.each do |product|  %>
        <tr>
          <td><%= product.name %></td>
          <td><%= number_to_currency(product.price, precision:3) %></td>
          <td><%= product.volume %></td>
          <td>
            <%= link_to admin_product_path(product),method: :get, class:'btn btn-outline-success float-right btnUp' do %>
              <i class="fas fa-circle-info"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>


  </table>
</div>
<!-- /.card-footer -->
<div class="card-footer clearfix">
  <ul class="pagination pagination-sm m-0 float-right">
    <%== pagy_bootstrap_nav(@pagy) %>
  </ul>
</div>
