<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-8">
          <button class="btn btn-outline-secondary btn-outline-custom mr-2 statBtn" id="stat1" title="0-Tất Cả Đơn">
            <!--                  <i class="fas fa-boxes"></i>-->
            <small class="text-center text-bold">Tất cả<br>Đơn</small>
          </button>
          <button class="btn btn-outline-secondary mr-2 statBtn" id="stat2" title="1-Mới Tạo">
            <!--                  <i class="fas fa-box-open"></i>-->
            <small class="text-center text-bold">Đơn <br>Mới Tạo</small>
          </button>

          <button class="btn btn-outline-secondary mr-2 statBtn" id="stat3" title="2-Sẵn Sàng Giao">
            <!--                  <i class="fas fa-box"></i>-->
            <small class="text-center text-bold">Sẵn Sàng<br>Giao</small>

          </button>

          <button class="btn btn-outline-secondary mr-2 statBtn" id="stat4" title="3-Giao thành công" >
            <!--                  <i class="fas fa-dolly-flatbed"></i>-->
            <small class="text-center text-bold">Đơn Giao<br>Thành Công</small>
          </button>

          <button class="btn btn-outline-secondary mr-2 statBtn" id="stat5" title="4-Hoàn Tất Đơn">
            <!--                  <i class="fas fa-check"></i>-->
            <small class="text-center text-bold">Đơn Đã<br>Hoàn Tất</small>

          </button>
        </div>
        <div class="col-sm-4">
          <a href="<%= new_order_path %>" type="button" class="btn rounded-5 float-right plx" style="background-color: #1462ff; color: rgb(245, 235, 216); border-radius: 12px;">Tạo đơn &nbsp;&nbsp;&nbsp; <i class="fa-solid fa-solid fa-angle-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>

  <section class="content">
    <div class="container-fluid">

      <div class="row">
        <div class="col-12">

          <div class="card">
            <div class="card-header">
              <div class="card-title">


              </div>
              <div class="card-tools">
                  <%= search_form_for @q,data:{controller: 'search-form', search_form_target: 'form', turbo_frame: :results}, url: order_manage_path  do |f| %>
                <div class="input-group input-group-md" style="width: 250px;">
                    <%= f.search_field :customer_name_or_customer_phone_or_referrer_name_cont, class:'form-control float-right',
                                       autofocus:true,autocomplete:'off',
                                       placeholder:'Tên KH/ SĐT KH, Tên NGT',
                                       data: { action: 'input->search-form#search' }  %>
                </div>
                  <% end %>
              </div>

            </div>
            <!-- /.card-header -->

    <%= turbo_frame_tag :results do %>
      <div class="card-body table-responsive p-0" style="height: 400px;">
        <table id="prodTable" class="table table-head-fixed table-striped text-nowrap">
          <thead>
            <tr>
              <th>Ngày tạo</th>
              <th>Trạng Thái</th>
              <th>Của Khách/ SĐT</th>
              <th>Người Giới Thiệu</th>
              <th>Tại</th>
              <th>Tổng Tiền</th>
              <th style="width: 20px;">Thao Tác</th>
            </tr>
          </thead>

          <tbody class="text-center">
              <% @orders.each do |order|  %>
                <tr>
                  <td><%= l(order.created_at,format: :custom) %></td>
                  <td><%= order.status %></td>
                  <td><%= order.customer.name %> / <%= order.customer.phone %></td>
                  <td><%= order.referrer.nil? ? 'Không có ai giới thiệu' : order.referrer.name %></td>
                  <td class="text-wrap"><%= order.address_info %></td>
                  <td class="text-right"><%= number_to_currency(order.total, precision:3) %></td>
                  <td>
                    <%= link_to [:admin, order], class:'btn btn-outline-success float-right btnUp' do %>
                      <i class="fas fa-circle-info"></i>
                    <% end %>
                  </td>
                </tr>
              <% end %>
          </tbody>
        </table>
      </div>
      <!-- card footer-->
      <div class="card-footer clearfix">
        <ul class="pagination pagination-sm m-0 float-right">
          <%== pagy_bootstrap_nav(@pagy) %>
        </ul>
      </div>

    <% end%>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>

</div>


<style>
  .btn-outline-custom{
      border-color: #87a8ff !important;
      color: #87A8FF !important;
  }
</style>
<script type="text/javascript" charset="utf-8">
    window.onload = orderSyle();

    function orderSyle() {

        $('#side_order_menu').css('background-color', '#F7A4A4')
    }
    function formatDate(date) {
        var d = new Date(date),
          day = d.getDate() < 10 ? '0'+ d.getDate() : d.getDate(),
          month = (d.getMonth() + 1) < 10 ? '0'+ (d.getMonth() + 1) : (d.getMonth() + 1),
          year = d.getFullYear(),
          hour = d.getHours() < 10 ? '0'+ d.getHours() : d.getHours(),
          min = d.getMinutes() < 10 ? '0'+ d.getMinutes() : d.getMinutes(),
          sec = d.getSeconds()< 10 ? '0'+ d.getSeconds() : d.getSeconds();

        if (month.length < 2) month = '0' + month;
        if (day.length < 2) day = '0' + day;
        a = [ day,month,year].join('/');
        b = [hour, min].join(':');

        return a + ' ' + b;
    }


    function debounce(fn, delay) {
        var timer = null;
        return function () {
            var context = this, args = arguments;
            clearTimeout(timer);
            timer = setTimeout(function () {
                fn.apply(context, args);
            }, delay);
        };
    }

    function numWithoutThreeDot(x){
        var res = x.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1.");
        return res;
    }
    function numWithThreeDot(x){
        var res = x.toString().replaceAll('.','').replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1.");
        return res;
    }


    var $btns = $('.statBtn').click(function() {
        $btns.not(this).removeClass('btn-outline-custom');
        var curBTN = $(this);
        var choice = curBTN.attr('title').split('-')[0];
        $.get("<%= api_orders_find_order_by_stat_path %>", {choice:parseInt(choice)},function(data) {
            console.log(data)
                var orders = data.orders.reverse();
            var hold = '';
            for(let i = 0;i < orders.length; i++  ){
                hold+= '<tr><td>'+ formatDate(orders[i].created_at) +'</td>'
                hold+= '<td>'+orders[i].status+'</td>'
                hold+= '<td>'+orders[i].name+' / '+orders[i].phone+'</td>'
                if(orders[i].refname){
                    hold+= '<td>'+orders[i].refname+'</td>'
                }else{
                    hold+= '<td>Không có ai giới thiệu</td>'
                }
                if(orders[i].address_info){
                    hold+= '<td class="text-wrap">'+orders[i].address_info+'</td>'

                }else{
                    hold+= '<td>Cập Nhật Địa Chỉ</td>'
                }
                hold+= '<td>'+numWithThreeDot(parseFloat(orders[i].total).toFixed(3))+' VNĐ</td>'
                hold+= '<td><a href="/orders/order_detail?id='+orders[i].id+'" class="btn btn-outline-success float-right btnUp" id="order-'+orders[i].id+'" ><i class="fas fa-circle-info"></i></a></td>';
                hold+= '</tr>';
            }
            $('#prodTable tbody').html(hold);
        });
        curBTN.toggleClass("btn-outline-custom");
    });
</script>


