<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-1">

      </div>
    </div>
  </div>

  <section class="content">
    <div class="container-fluid">

      <div class="row">
        <!-- Customer Table -->
        <div class="col-12">

          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Tất cả KH</h3>

              <div class="card-tools">
                <%= search_form_for @q, data:{ turbo_frame: :results, turbo_action: 'advance'}, url: cus_path  do |f| %>
                  <%#= search_form_for @q, data:{controller: 'debounce-form', debounce_form_target: 'form', turbo_frame: :results, turbo_action: 'advance'}, url: cus_path  do |f| %>

                  <div class="input-group input-group-sm" style="width: 250px;">
                    <%= f.search_field :name_or_phone_cont,
                                       class:'form-control float-right',
                                       autofocus:true,autocomplete:'off',
                                       placeholder:'Tên / SĐT',
                                       oninput: 'this.form.requestSubmit()'%>
<!--                                       data: { action: 'input->debounce-form#search' }-->
                  </div>
                <% end %>
              </div>
            </div>

            <%= turbo_frame_tag :results do %>
              <%= render partial: "home/list/listc", locals: { customer: @customers } %>
            <% end%>
          </div>
          <!-- /.card -->
        </div>

        <!-- Ref table -->

        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>

</div>

<div class="modal fade" id="modal-xl">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Bảng Chi tiết KH</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-4">
            <!-- Profile Image -->
            <div class="card card-primary card-outline">
              <div class="card-body box-profile">
                <div class="text-center">
                  <img class="profile-user-img img-fluid img-circle"
                       src=""
                       alt="Cus pic" id="cuspic">
                </div>

                <h3 class="profile-username text-center" id="demoName"></h3>

                <p class="text-muted text-center" id="demoPhone"></p>

                <form id="cusInfo" autocomplete="off">
                  <ul class="list-group list-group-unbordered mb-3">

                    <li class="list-group-item">
                      <b>Tên</b> <input type="text" class="float-right text-right border-0" id="inpName" name="customer[name]">
                    </li>
                    <li class="list-group-item">
                      <b>SĐT</b> <input type="text" class="float-right text-right border-0" id="inpPhone" maxlength="10" name="customer[phone]">
                    </li>
                  </ul>
                  <input type="hidden" name="idCus" id="idCus" value="0">
                  <button class="btn btn-primary btn-block" id="cusUpdate"><b>Cập Nhật</b></button>
                </form>
              </div>
            </div>
          </div>

          <div class="col-md-8">
            <div class="card">
              <div class="card-header p-2">
                <ul class="nav nav-pills">
                  <li class="nav-item"><a class="nav-link active" href="#addressPane" data-toggle="tab">Các Địa Chỉ</a></li>
                  <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">Lịch Sử Đơn Hàng</a></li>
                </ul>
              </div>
              <div class="card-body">

                <div class="tab-content">

                  <div class="active tab-pane" id="addressPane">

                  </div>

                  <!-- /.tab-pane -->
                  <div class="tab-pane" id="timeline">
                    <div class="timeline timeline-inverse">

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /.col -->
        </div>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<script type="text/javascript" charset="utf-8">
    window.onload = orderSyle();
    var flagPhone = 0;

    function orderSyle() {
        $('#side-cus').addClass('active').css('background-color', '#5403758f');
    }

    function debounce(fn, delay) {
        var timer = null;
        return function () {
            var context = this, args = arguments;
            clearTimeout(timer);
            timer = setTimeout(function () {
                fn.apply(context, args);
            }, delay);
        };
    }


    $('#prodSearch').keyup(debounce(function (event){
        var kw = $('#prodSearch').val();
        if(kw == '' && kw.length == 0){
            findCustomerKW(kw,0);
        }else {
            findCustomerKW(kw,1);
        }

    },3000));

    $('#prodTable').on('click','.btnUp',function (){
        var id =  $(this).attr('id').split('-')[1];
        findCusDetail(parseInt(id),3)
    });

    function findCustomerKW(kw,choice) {
        var actionUrl = '<%= cus_search_path %>';

        $.ajax({
            type: "GET",
            beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
            url: actionUrl,
            data: {
                kw: kw,
                choice: choice
            }, // serializes the form's elements.
            success: function(data) {


                var hold = ''
                var cus = data.cus;
                for(let i = 0;i < cus.length; i++  ){

                    hold += '<tr>'+
                      '<td>'+cus[i].name+'</td>'+
                      '<td>'+cus[i].phone+'</td>'+
                      '<td><button class="btn btn-outline-success float-right btnUp" id="cus-'+cus[i].id+'" data-toggle="modal" data-target="#modal-xl"><i class="fas fa-circle-info"></i></button> </td></tr>';
                }
                $('#prodTable tbody').html(hold);

            }
        });
    }

    $('.modal-xl').on('input propertychange','#inpPhone',function () {
        $(this).val($(this).val().replace(/[^0-9+]/g, ''));
        var hold = $(this).val().length;
        var checkPhoneURL = "<%= phone_check_path %>";
        console.log(flagPhone)
        if (hold == 10 && $(this).val() !=flagPhone){
            $.ajax({
                type: "GET",
                beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
                url: checkPhoneURL,
                data: {
                    phone:  $(this).val()
                },
                success: function(data) {
                    if(data.status == true) {
                        toastr.info(data.message, '', {
                            timeOut: 2000,
                            progressBar: true,
                            progressAnimation: 'increasing'
                        });
                        $('#cusUpdate').removeAttr('disabled')

                    } else {
                        toastr.warning(data.customer.name, "Khách Hàng Tên:", {
                            timeOut: 2000,
                            progressBar: true,
                            progressAnimation: 'increasing'
                        });
                        $('#inpPhone').addClass("border-warning").css('border-width','thick');
                        setTimeout(function(){
                            $('#inpPhone').removeClass("border-warning").css('border-width','1px');
                        },2000);

                        $('#cusUpdate').attr('disabled','disabled')
                    }
                }
            });
        }

    });
    function findCusDetail(id,choice) {
        var actionUrl = '<%= cus_search_path %>';

        $.ajax({
            type: "GET",
            beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
            url: actionUrl,
            data: {
                id: id,
                choice: choice
            },
            success: function(data) {
                console.log(data)
            //    Customer
                $('#cuspic').attr('src','https://avatars.dicebear.com/api/adventurer/'+data.cus.phone+'.svg')
                $('#demoName').html (data.cus.name);
                $('#demoPhone').html(data.cus.phone);
                $('#inpName').val (data.cus.name);
                $('#inpPhone').val(data.cus.phone);
                flagPhone = data.cus.phone;
                $('#idCus').val(data.cus.id);
            //  Address
                printAddress(data.address);
            //  Order
                printOrder(data.orders);
            }
        });
    }
    function formatDate(date) {
        var d = new Date(date),
          day = d.getDate() < 10 ? '0'+ d.getDate() : d.getDate(),
          month = (d.getMonth() + 1) < 10 ? '0'+ (d.getMonth() + 1) : (d.getMonth() + 1),
          year = d.getFullYear(),
          hour = d.getHours() < 10 ? '0'+ d.getHours() : d.getHours(),
          min = d.getMinutes() < 10 ? '0'+ d.getMinutes() : d.getMinutes(),
          sec = d.getSeconds()< 10 ? '0'+ d.getSeconds() : d.getSeconds();

        if (month.length < 2) month = '0' + month;
        if (day.length < 2) day = '0' + day;
        a = [ day,month,year].join('/');
        b = [hour, min].join(':');

        return a + ' ' + b;
    }

    function printOrder(orders){
        var hold = '';
        for (let i = 0;i < orders.length;i++) {

            hold += '<div class="time-label"><span class="bg-danger">' +
              formatDate(orders[i].created_at) +
              '</span></div>' +
              '<div><div class="timeline-item">' +
              '<h3 class="timeline-header border-0">' +
              '<span class="text-bold text-blue"> Tổng Giá: '+orders[i].total+'</span> <ul>'+
              '<li>Giảm Giá: <b>'+orders[i].discount+'</b></li>'+
              '<li>Phí ship: <b>'+orders[i].shipping_cost+'</b></li>'+
              '<li>Cập Nhật Lần Cuối: '+formatDate(orders[i].updated_at)+'</li></ul>' +
              '</h3></div></div>';
        }
        $('.timeline-inverse').html('');
        $('.timeline-inverse').html(hold);
        $('.timeline-inverse').append('<div><i class="far fa-clock bg-gray"></i></div>');


    }
    function printAddress(adress){
        hold = '';

        if (adress == null){
            $('addressPane').html('<h3>Không Tìm Thấy</h3>');
        }else {
              var no = 1;
            for (let i = 0;i < adress.length;i++){


                hold += '<div class="post"><div class="user-block">'+
                    '<strong >Địa chỉ '+ no++ +'</strong></div>'+
                '<form class="addrForm" id="add-'+adress[i].id+'" autocomplete="off" >'+
                    '<div class="row"><div class="col col-md-4"><div class="form-group">'+
                    '<label for="province">Tỉnh - Thành Phố</label>'+
                    '<select  class="form-control fpro fsel" id="province-'+adress[i].id+'">' +
                    '<option value="'+adress[i].province_city+'" selected>'+adress[i].province_city+'</option></select></div></div>'+
                        '<div class="col col-md-4"><div class="form-group">'+
                                '<label for="district">Quận - Hyện</label>'+
                                '<select  class="form-control fdis" id="district-'+adress[i].id+'">' +
                                              '<option selected value="'+adress[i].district+'">'+adress[i].district+'</option></select></div></div>'+
                        '<div class="col col-md-4"><div class="form-group">'+
                                '<label for="ward">Phường - Xã</label>'+
                                '<select  class="form-control fsel fward" id="ward-'+adress[i].id+'">' +
                    '<option value="'+adress[i].ward+'" selected>'+adress[i].ward+'</option></select></div></div></div>'+
                    '<div class="input-group input-group-sm mb-0">'+
'                        <input class="form-control" type="text" id="street-'+adress[i].id+'" value="'+adress[i].street+'" placeholder="Địa chỉ và tên đường">'+
                            '<div class="input-group-append"><input type="hidden" name="addressID" value="'+adress[i].id+'"/>'+
                                '<button class="btn btn-danger addrUP" id="'+adress[i].id+'">Cập Nhật</button></div></div></form></div>';
            }
            $('#addressPane').html('');
            $('#addressPane').append(hold);
        }
    }

    $('.modal-xl').on('focus','.fpro',function (){
        var id = $(this).attr('id').split('-')[1];
        $.get("https://provinces.open-api.vn/api/?depth=1", function(data) {
            var hold = ""
            data.forEach(x => {
                hold += '<option value="' + x.code + '-' + x.name + '">' + x.name + '</option>'
            });
            $('#province-'+id).html('');
            $('#province-'+id).append(hold);
        });
    });

    $('.modal-xl').on('focus','.fdis',function (){
        var id = $(this).attr('id').split('-')[1];
        var proCode = $('#province-'+id).find(":selected").val().split("-")[0];
        $.get("https://provinces.open-api.vn/api/p/" + proCode + "?depth=2", function(data) {
            var hold = ""
            for (let i = 0; i < data.districts.length; i++) {
                    hold += '<option value="' + data.districts[i].code + '-' + data.districts[i].name + '">' + data.districts[i].name + '</option>';
                }
            $('#district-'+id).html('');
            $('#district-'+id).append(hold);
        });
    });

    $('.modal-xl').on('focus','.fward',function (){
        var id = $(this).attr('id').split('-')[1];
        var disCode = $('#district-'+id).find(":selected").val().split("-")[0];
        $.get("https://provinces.open-api.vn/api/d/" + disCode + "?depth=2", function(data) {
            var hold = ""
            for (let i = 0; i < data.wards.length; i++) {
                hold += '<option value="' + data.wards[i].code + '-' + data.wards[i].name + '">' + data.wards[i].name + '</option>';
            }

            $('#ward-'+id).html('');
            $('#ward-'+id).append(hold);
        });
    });
    $('.modal-xl').on('click','.addrUP',function (e) {
        e.preventDefault();
        var id = $(this).attr('id');
        var form = $('#add-'+id);
        var actionUrlx = '<%= cus_addr_path %>';

        var adress= {
            address:{
                province_city: $('#province-'+id).find(":selected").val().split('-')[1],
                district: $('#district-'+id).find(":selected").val().split('-')[1],
                ward: $('#ward-'+id).find(":selected").val().split('-')[1],
                street: $('#street-'+id).val()
            }
        };
        $.ajax({
            type: "PUT",
            beforeSend: function (xhr) {
                xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
            },
            url: actionUrlx,
            data: form.serialize() + '&' + $.param(adress), // serializes the form's elements.
            success: function (data) {
                toastr.success(data.statusx, 'Cạp Nhật Địa CHỈ Thành Công', {
                    timeOut: 3000,
                    progressBar: true,
                    progressAnimation: 'increasing'
                });
            }
        });
    });

    $("#cusUpdate").click(function(e) {
        e.preventDefault();
        var actionUrl = '<%= cus_info_path %>';
        var form = $('form#cusInfo');

        $.ajax({
            type: "PUT",
            beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
            url: actionUrl,
            data: form.serialize(), // serializes the form's elements.
            success: function(data) {
                if(data.statusx == true){
                    toastr.success('Cập Nhật Thông Tin Thành Công','',{
                        timeOut: 3000,
                        progressBar: true,
                        progressAnimation: 'increasing'
                    });
                    flagPhone = $('#inpPhone').val();
                  $('#demoName').html ($('#inpName').val());
                  $('#demoPhone').html($('#inpPhone').val());
                }

            }
        });
    });



</script>


