<!--<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.13.1/datatables.min.css"/>-->
<!--<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.13.1/datatables.min.js"></script>-->
<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-1">

      </div>
    </div>
  </div>

  <section class="content">
    <div class="container-fluid">

      <div class="row">
        <div class="col-12">

          <div class="card">
            <div class="card-header">
              <div class="card-title">

                <button class="btn btn-outline-secondary btn-outline-custom mr-2 statBtn" id="stat1" title="0-Tất Cả Đơn">
<!--                  <i class="fas fa-boxes"></i>-->
                  <small class="text-center text-bold">Tất cả<br>Đơn</small>
                </button>
                <button class="btn btn-outline-secondary mr-2 statBtn" id="stat2" title="1-Mới Tạo">
<!--                  <i class="fas fa-box-open"></i>-->
                  <small class="text-center text-bold">Đơn <br>Mới Tạo</small>
                </button>

                <button class="btn btn-outline-secondary mr-2 statBtn" id="stat3" title="2-Sẵn Sàng Giao">
<!--                  <i class="fas fa-box"></i>-->
                  <small class="text-center text-bold">Đơn<br>Giao</small>

                </button>

                <button class="btn btn-outline-secondary mr-2 statBtn" id="stat4" title="3-Giao thành công" >
<!--                  <i class="fas fa-dolly-flatbed"></i>-->
                  <small class="text-center text-bold">Đơn Đã<br>Hoàn Tất</small>
                </button>

                <button class="btn btn-outline-secondary mr-2 statBtn" id="stat5" title="4-Hoàn Tất Đơn">
<!--                  <i class="fas fa-check"></i>-->
                  <small class="text-center text-bold">Đơn Đã<br>Thanh Toán</small>

                </button>

              </div>
              <div class="card-tools">
                  <%= search_form_for @q,data:{turbo_frame: :results, turbo_action: 'advance'}, url: order_manage_path  do |f| %>
                <div class="input-group input-group-md" style="width: 250px;">
                    <%= f.search_field :customer_name_or_customer_phone_or_referrer_name_cont, class:'form-control float-right',
                                       autofocus:true,autocomplete:'off',placeholder:'Tên KH/ SĐT KH, Tên NGT',oninput: 'this.form.requestSubmit()'  %>
                </div>
                  <% end %>
              </div>

            </div>
            <!-- /.card-header -->

            <%= turbo_frame_tag :results do %>
              <%= render partial: "home/list/listo", locals: { orders: @orders } %>
            <% end%>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>

</div>
<!--BEGIN MODAL-->

<div class="modal fade" id="modal-xl">

  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Chi Tiết Đơn Hàng </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="orderDetail">

        <div class="modal-body">
          <div class="row">
            <div class="col-12">
              <h4>
                <small class="float-right" id="orderCre">Ngày Tạo: </small>
              </h4>
            </div>

          </div>
          <div class="row invoice-info">
            <div class="col-sm-4 invoice-col">
              Thông Tin Khách
              <address>
                <span id="cusName"></span><br>
                <span id="cusAddr"></span><br>
                <span id="cusPhone"></span><br>
                <span id="cusPayment"></span>
              </address>
            </div>

            <div class="col-sm-4 invoice-col">
              Người giới thiệu
              <address>
                <span id="refName"></span><br>
                <span id="refPhone"></span><br>
                <span id="refBank"></span><br>
              </address>
            </div>

            <div class="col-sm-4 invoice-col">
              <b>Thông Tin Khác</b><br>
              <br>
              <b>Trạng Thái: </b> <span id="orderStatus"></span><br>

              <b>Cập Nhật Lần Cuối: </b> <span id="orderUpd"></span><br>
              <b>Ngày Hoàn Tất: </b> <span id="orderComp"></span>
            </div>

          </div>

          <div class="row mt-2">
            <div class="col col-md-7 table-responsive">
              <table class="table table-striped" id="lineItems">
                <thead>
                <tr>
                  <th>Tên</th>
                  <th>Số Lượng</th>
                  <th>Giá</th>
                  <th>Tổng Giá SP</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
            </div>

            <div class="col col-md-5">

              <div class="table-responsive">
                <table class="table" id="orderPrice">
                  <tbody><tr>
                    <th style="width:50%">Tổng phụ :</th>
                    <td id="orderSub"></td>
                  </tr>
                  <tr>
                    <th id="orderDis">Giảm (10%):</th>
                    <td id="orderDisMoney"></td>
                  </tr>
                  <tr>
                    <th>Phí Ship:</th>
                    <td id="orderShip"></td>
                  </tr>
                  <tr>
                    <th>Total:</th>
                    <td id="orderTotal"></td>
                  </tr>
                  </tbody></table>
              </div>
            </div>
          </div>


          <div class="row mt-2 mb-2">
            <div class="col-3">
              <div class="form-group">
                <label>Select</label>
                <select class="form-control orderStat" autocomplete="off">
                  <option id="1" selected>Mới Tạo</option>
                  <option id="2">Sẵn Sàng Giao</option>
                  <option id="3">Giao Thành Công</option>
                  <option id="4">Hoàn Tất Đơn</option>
                  <option id="5">Hủy</option>
                </select>
              </div>
            </div>
            <div class="col-9">

            </div>
          </div>

        </div>

        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
          <button type="button" class="btn btn-primary" id="updateOrder">Cập Nhật</button>
        </div>
      </form>

    </div>
    <!-- /.modal-content -->

  </div>
  <!-- /.modal-dialog -->
</div>

<style>
  .btn-outline-custom{
      border-color: #87a8ff !important;
      color: #87A8FF !important;
  }
</style>
<script type="text/javascript" charset="utf-8">
    window.onload = orderSyle();

    function orderSyle() {

        $('.nitem2').addClass('menu-open');
        $('#side_order_menu').addClass('active');
        $('#side_order_menu').css('background-color', '#F7A4A4')
        $('.right').removeClass('fa-angle-left').addClass('fa-angle-down');

        $('#side-order2').addClass('active');
        $('#side-order2').css('background-color', '#FFFBC1');
        $('#side-order2').css('color', '#000');
    }
    function formatDate(date) {
        var d = new Date(date),
          day = d.getDate() < 10 ? '0'+ d.getDate() : d.getDate(),
          month = (d.getMonth() + 1) < 10 ? '0'+ (d.getMonth() + 1) : (d.getMonth() + 1),
          year = d.getFullYear(),
          hour = d.getHours() < 10 ? '0'+ d.getHours() : d.getHours(),
          min = d.getMinutes() < 10 ? '0'+ d.getMinutes() : d.getMinutes(),
          sec = d.getSeconds()< 10 ? '0'+ d.getSeconds() : d.getSeconds();

        if (month.length < 2) month = '0' + month;
        if (day.length < 2) day = '0' + day;
        a = [ day,month,year].join('/');
        b = [hour, min].join(':');

        return a + ' ' + b;
    }


    function debounce(fn, delay) {
        var timer = null;
        return function () {
            var context = this, args = arguments;
            clearTimeout(timer);
            timer = setTimeout(function () {
                fn.apply(context, args);
            }, delay);
        };
    }


    $('#prodSearch').keyup(debounce(function (event){
        var kw = $('#prodSearch').val();
        if(kw == '' && kw.length == 0){
            findOderByKW(kw,0);
        }else {
            findOderByKW(kw,1);
        }

    },1000));
    function findOderByKW(kw,choice) {
        var actionUrl = '<%= find_oder_kw_path %>';

        $.ajax({
            type: "GET",
            beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
            url: actionUrl,
            data: {
                kw: kw,
                choice: choice
            }, // serializes the form's elements.
            success: function(data) {
                var orders = data.orders.reverse();
                var hold = '';

                for(let i = 0;i < orders.length; i++  ){
                    hold+= '<tr><td>'+ formatDate(orders[i].created_at) +'</td>'
                    hold+= '<td>'+orders[i].total+'</td>'
                    hold+= '<td>'+orders[i].status+'</td>'
                    hold+= '<td>'+orders[i].name+' / '+orders[i].phone+'</td>'
                    if(orders[i].refname){
                        hold+= '<td>'+orders[i].refname+'</td>'
                    }else{
                        hold+= '<td>Không có ai giới thiệu</td>'
                    }
                    if(orders[i].address_info){
                        hold+= '<td class="text-wrap">'+orders[i].address_info+'</td>'

                    }else{
                        hold+= '<td>Cập Nhật Địa Chỉ</td>'
                    }
                    hold+= '<td><button class="btn btn-outline-success float-right btnUp" id="order-'+orders[i].id+'" data-toggle="modal" data-target="#modal-xl"><i class="fas fa-circle-info"></i></button></td>';
                    hold+= '</tr>';
                }
                $('#prodTable tbody').html(hold);

            }
        });
    }

    var $btns = $('.statBtn').click(function() {
        $btns.not(this).removeClass('btn-outline-custom');
        var curBTN = $(this);
        var choice = curBTN.attr('title').split('-')[0];
        $.get("<%= find_order_by_stat_path %>", {choice:parseInt(choice)},function(data) {
            console.log(data)
                var orders = data.orders.reverse();
            var hold = '';
            for(let i = 0;i < orders.length; i++  ){
                hold+= '<tr><td>'+ formatDate(orders[i].created_at) +'</td>'
                hold+= '<td>'+orders[i].total+'</td>'
                hold+= '<td>'+orders[i].status+'</td>'
                hold+= '<td>'+orders[i].name+' / '+orders[i].phone+'</td>'
                if(orders[i].refname){
                    hold+= '<td>'+orders[i].refname+'</td>'
                }else{
                    hold+= '<td>Không có ai giới thiệu</td>'
                }
                if(orders[i].address_info){
                    hold+= '<td class="text-wrap">'+orders[i].address_info+'</td>'

                }else{
                    hold+= '<td>Cập Nhật Địa Chỉ</td>'
                }
                hold+= '<td><button class="btn btn-outline-success float-right btnUp" id="order-'+orders[i].id+'" data-toggle="modal" data-target="#modal-xl"><i class="fas fa-circle-info"></i></button></td>';
                hold+= '</tr>';
            }
            $('#prodTable tbody').html(hold);
        });
        curBTN.toggleClass("btn-outline-custom");
    });

    $('.orderStat').bind('change',function () {
        var statSel = $(this).find(":selected");
        var orderID = $(this).attr('id');
        // var curRow = $('order-'+orderID).closest('tr');
        var actionUrl = '<%= change_order_stat_path %>';
        $.ajax({
            type: "PUT",
            beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
            url: actionUrl,
            data: {
                id: orderID,
                order_status: statSel.html()
            },
            success: function(data) {
                toastr.success('Đổi Thành Công','',{
                    timeOut: 3000,
                    progressBar: true,
                    progressAnimation: 'increasing'
                });
                if(data.order){

                $('#orderStatus').html(data.order.status);
                $('#orderUpd').html(formatDate(data.order.updated_at));
                $('#orderComp').html(data.order.completed_at ? formatDate(data.order.completed_at) : 'Chưa Hoàn Tất' );
                } else{
                    //Phải lấy row ở ngoài table
                    $('#prodTable #order-'+orderID).closest('tr').remove();
                    $('body').removeClass('modal-open');
                    $('.modal-backdrop').remove();
                    $("#modal-xl").removeAttr("role").removeAttr("aria-modal").removeClass('show').css('display','none');

                }

            }
        });
    });


    $('#prodTable').on('click','.btnUp',function (){
        var id =  $(this).attr('id').split('-')[1];
        findOrder(parseInt(id))
    });




    //Do items là trả về array chứa array chứa mảng, nen mới xài func extract
    function extract( array, newarray ){
        if( !newarray ) newarray = [] ;
        if( array ) for( var i = 0 ; i < array.length ; ++i )
        {
            if( array[i].constructor.name === "Array" ) extract( array[i], newarray ) ;
            else newarray.push( array[i] ) ;
        }
        return newarray ;
    }

    function findOrder(id) {
        var actionUrl = '<%= find_order_path %>';

        $.ajax({
            type: "GET",
            beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
            url: actionUrl,
            data: {
                orderID: id,
            },
            success: function(data) {
                //Items
                var hold = ''
                var subtotal = 0;
                var items = extract(data.items);
                for(let i = 0;i < items.length; i++  ){
                    hold += '<tr><td>'+items[i].name+'</td>';
                    hold += '<td>'+items[i].quantity+'</td>';
                    hold += '<td>'+items[i].price+'</td>';
                    hold += '<td>'+parseFloat(items[i].quantity * items[i].price).toFixed(3) +'</td>';
                    subtotal = subtotal +  (items[i].quantity * items[i].price);
                }
                $('#lineItems tbody').html(hold);

                $('.orderStat').attr('id',data.order.id);
                $('#orderSub').html(subtotal);
                $('#orderDis').html('Giảm ('+data.order.discount+'%):')
                $('#orderDisMoney').html(parseFloat((data.order.total * data.order.discount) / 100).toFixed(3))
                $('#orderTotal').html(data.order.total);
                $('#orderStatus').html(data.order.status);
                $('#orderShip').html(data.order.shipping_cost);
                $('#orderCre').html('Ngày tạo: '+formatDate(data.order.created_at));
                $('#orderUpd').html(formatDate(data.order.updated_at));
                $('#orderComp').html(data.order.completed_at ? formatDate(data.order.completed_at) : 'Chưa Hoàn Tất' );

                //Customer

                $('#cusName').html('<b>Tên: </b>'+ data.cus.name);
                $('#cusAddr').html('<b>Địa Chỉ: </b>'+ data.order.address_info);
                $('#cusPhone').html('<b>Điện Thoại: </b>'+ data.cus.phone);
                $('#cusPayment').html('<b>Thanh Toán Bằng: </b>'+ data.order.payment_method);
                //Refer
                if(data.ref){
                    $('#refName').html('<b>Tên: </b>'+data.ref.name);
                    $('#refPhone').html('<b>Điện Thoại: </b>'+data.ref.phone);
                    $('#refBank').html('<b>Thông Tin CK: </b>'+data.ref.banking_informations);
                }else{
                    $('#refName').html('<b>Không Có Người Giới Thiệu</b>');
                    $('#refPhone').html('');
                    $('#refBank').html('');
                }

            }
        });
    }


    $('.btnPage').click(function (e) {
        e.preventDefault();
        var pageNo = $(this).attr('id');
        var actionUrl = '<%= order_page_path %>';

        $.ajax({
            type: "GET",
            beforeSend: function (xhr) {
                xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
            },
            url: actionUrl,
            data: {
                page: parseInt(pageNo)
            },
            success: function (data) {
                var hold = '';
                var orders = data.orders;
                for(let i = 0;i < orders.length; i++  ){
                    hold+= '<tr><td>'+ formatDate(orders[i].created_at) +'</td>'
                    hold+= '<td>'+orders[i].total+'</td>'
                    hold+= '<td>'+orders[i].status+'</td>'
                    hold+= '<td>'+orders[i].name+'</td>'
                    hold+= '<td>'+orders[i].address_info+'</td>'
                    hold+= '<td><button class="btn btn-outline-success float-right btnUp" id="order-'+orders[i].id+'" data-toggle="modal" data-target="#modal-xl"><i class="fas fa-circle-info"></i></button></td>';
                    hold+= '</tr>';
                }
                $('#prodTable tbody').html(hold);

            }
        });
    });


</script>


