<!--<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.13.1/datatables.min.css"/>-->
<!--<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.13.1/datatables.min.js"></script>-->
<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-8">
          <button class="btn btn-outline-secondary btn-outline-custom mr-2 statBtn" id="stat1" title="0-Tất Cả Đơn">
            <!--                  <i class="fas fa-boxes"></i>-->
            <small class="text-center text-bold">Tất cả<br>Đơn</small>
          </button>
          <button class="btn btn-outline-secondary mr-2 statBtn" id="stat2" title="1-Mới Tạo">
            <!--                  <i class="fas fa-box-open"></i>-->
            <small class="text-center text-bold">Đơn <br>Mới Tạo</small>
          </button>

          <button class="btn btn-outline-secondary mr-2 statBtn" id="stat3" title="2-Sẵn Sàng Giao">
            <!--                  <i class="fas fa-box"></i>-->
            <small class="text-center text-bold">Sẵn Sàng<br>Giao</small>

          </button>

          <button class="btn btn-outline-secondary mr-2 statBtn" id="stat4" title="3-Giao thành công" >
            <!--                  <i class="fas fa-dolly-flatbed"></i>-->
            <small class="text-center text-bold">Đơn Giao<br>Thành Công</small>
          </button>

          <button class="btn btn-outline-secondary mr-2 statBtn" id="stat5" title="4-Hoàn Tất Đơn">
            <!--                  <i class="fas fa-check"></i>-->
            <small class="text-center text-bold">Đơn Đã<br>Hoàn Tất</small>

          </button>
        </div>
        <div class="col-sm-4">
          <a href="<%= new_order_path %>" type="button" class="btn rounded-5 float-right plx" style="background-color: #1462ff; color: rgb(245, 235, 216); border-radius: 12px;">Tạo đơn &nbsp;&nbsp;&nbsp; <i class="fa-solid fa-solid fa-angle-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>

  <section class="content">
    <div class="container-fluid">

      <div class="row">
        <div class="col-12">

          <div class="card">
            <div class="card-header">
              <div class="card-title">


              </div>
              <div class="card-tools">
                  <%= search_form_for @q,data:{controller: 'search-form', search_form_target: 'form', turbo_frame: :results}, url: order_manage_path  do |f| %>
                <div class="input-group input-group-md" style="width: 250px;">
                    <%= f.search_field :customer_name_or_customer_phone_or_referrer_name_cont, class:'form-control float-right',
                                       autofocus:true,autocomplete:'off',
                                       placeholder:'Tên KH/ SĐT KH, Tên NGT',
                                       data: { action: 'input->search-form#search' }  %>
                </div>
                  <% end %>
              </div>

            </div>
            <!-- /.card-header -->

            <%= turbo_frame_tag :results do %>
              <%= render partial: "home/list/listo", locals: { orders: @orders } %>
            <% end%>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>

</div>
<!--BEGIN MODAL-->

<div class="modal fade" id="modal-xl">

  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Chi Tiết Đơn Hàng </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="orderDetail">

        <div class="modal-body">
          <div class="row">
            <div class="col-12">
              <h4>
                <small class="float-right" id="orderCre">Ngày Tạo: </small>
              </h4>
            </div>

          </div>
          <div class="row invoice-info">
            <div class="col-sm-4 invoice-col">
              Thông Tin Khách
              <address>
                <span id="cusName"></span><br>
                <span id="cusAddr"></span><br>
                <span id="cusPhone"></span><br>
                <span id="cusPayment"></span>
              </address>
            </div>

            <div class="col-sm-4 invoice-col">
              Người giới thiệu
              <address>
                <span id="refName"></span><br>
                <span id="refPhone"></span><br>
                <span id="refBank"></span><br>
              </address>
            </div>

            <div class="col-sm-4 invoice-col">
              <b>Thông Tin Khác</b><br>
              <br>
              <b>Trạng Thái: </b> <span id="orderStatus"></span><br>

              <b>Cập Nhật Lần Cuối: </b> <span id="orderUpd"></span><br>
              <b>Ngày Hoàn Tất: </b> <span id="orderComp"></span>
            </div>

          </div>

          <div class="row mt-2">
            <div class="col col-md-7 table-responsive">
              <table class="table table-bordered table-striped" id="lineItems">
                <thead>
                <tr>
                  <th>Tên</th>
                  <th>Số Lượng</th>
                  <th>Giá</th>
                  <th>Tổng Giá SP</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
            </div>

            <div class="col col-md-5">

              <div class="table-responsive">
                <table class="table" id="orderPrice">
                  <tbody><tr>
                    <th style="width:50%">Tổng phụ :</th>
                    <td id="orderSub" class="text-right"></td>
                  </tr>
                  <tr>
                    <th id="orderDis">Giảm (10%):</th>
                    <td id="orderDisMoney" class="text-right"></td>
                  </tr>
                  <tr>
                    <th>Phí Ship:</th>
                    <td id="orderShip" class="text-right"></td>
                  </tr>
                  <tr>
                    <th>Total:</th>
                    <td id="orderTotal"class="text-right"></td>
                  </tr>
                  </tbody></table>
              </div>
            </div>
          </div>


          <div class="row mt-2 mb-2">
            <div class="col-3">
              <div class="form-group">
                <label>Select</label>
                <select class="form-control orderStat" autocomplete="off">
                  <option id="1" selected>Mới Tạo</option>
                  <option id="2">Sẵn Sàng Giao</option>
                  <option id="3">Giao Thành Công</option>
                  <option id="4">Hoàn Tất Đơn</option>
                  <option id="5">Hủy</option>
                </select>
              </div>
            </div>
            <div class="col-9">

            </div>
          </div>

        </div>

        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
          <button type="button" class="btn btn-primary" id="updateOrder">Cập Nhật</button>
        </div>
      </form>

    </div>
    <!-- /.modal-content -->

  </div>
  <!-- /.modal-dialog -->
</div>

<style>
  .btn-outline-custom{
      border-color: #87a8ff !important;
      color: #87A8FF !important;
  }
</style>
<script type="text/javascript" charset="utf-8">
    window.onload = orderSyle();

    function orderSyle() {

        $('#side_order_menu').css('background-color', '#F7A4A4')
    }
    function formatDate(date) {
        var d = new Date(date),
          day = d.getDate() < 10 ? '0'+ d.getDate() : d.getDate(),
          month = (d.getMonth() + 1) < 10 ? '0'+ (d.getMonth() + 1) : (d.getMonth() + 1),
          year = d.getFullYear(),
          hour = d.getHours() < 10 ? '0'+ d.getHours() : d.getHours(),
          min = d.getMinutes() < 10 ? '0'+ d.getMinutes() : d.getMinutes(),
          sec = d.getSeconds()< 10 ? '0'+ d.getSeconds() : d.getSeconds();

        if (month.length < 2) month = '0' + month;
        if (day.length < 2) day = '0' + day;
        a = [ day,month,year].join('/');
        b = [hour, min].join(':');

        return a + ' ' + b;
    }


    function debounce(fn, delay) {
        var timer = null;
        return function () {
            var context = this, args = arguments;
            clearTimeout(timer);
            timer = setTimeout(function () {
                fn.apply(context, args);
            }, delay);
        };
    }

    function numWithoutThreeDot(x){
        var res = x.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1.");
        return res;
    }
    function numWithThreeDot(x){
        var res = x.toString().replaceAll('.','').replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1.");
        return res;
    }


    var $btns = $('.statBtn').click(function() {
        $btns.not(this).removeClass('btn-outline-custom');
        var curBTN = $(this);
        var choice = curBTN.attr('title').split('-')[0];
        $.get("<%= find_order_by_stat_path %>", {choice:parseInt(choice)},function(data) {
            console.log(data)
                var orders = data.orders.reverse();
            var hold = '';
            for(let i = 0;i < orders.length; i++  ){
                hold+= '<tr><td>'+ formatDate(orders[i].created_at) +'</td>'
                hold+= '<td>'+orders[i].status+'</td>'
                hold+= '<td>'+orders[i].name+' / '+orders[i].phone+'</td>'
                if(orders[i].refname){
                    hold+= '<td>'+orders[i].refname+'</td>'
                }else{
                    hold+= '<td>Không có ai giới thiệu</td>'
                }
                if(orders[i].address_info){
                    hold+= '<td class="text-wrap">'+orders[i].address_info+'</td>'

                }else{
                    hold+= '<td>Cập Nhật Địa Chỉ</td>'
                }
                hold+= '<td>'+numWithThreeDot(parseFloat(orders[i].total).toFixed(3))+' VNĐ</td>'
                hold+= '<td><a href="/orders/order_detail?id='+orders[i].id+'" class="btn btn-outline-success float-right btnUp" id="order-'+orders[i].id+'" ><i class="fas fa-circle-info"></i></a></td>';
                hold+= '</tr>';
            }
            $('#prodTable tbody').html(hold);
        });
        curBTN.toggleClass("btn-outline-custom");
    });




</script>


