<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-1">

      </div>
    </div>
  </div>

  <section class="content">
    <div class="container-fluid">

      <div class="row">
        <!-- Customer Table -->

        <!-- Ref table -->
        <div class="col-12">

          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Tất cả NGT</h3>

              <div class="card-tools">
                <%= search_form_for @q, data:{turbo_frame: :results, turbo_action: 'advance'}, url: ref_path  do |f| %>
                  <div class="input-group input-group-sm" style="width: 250px;">
                    <%= f.search_field :name_or_phone_cont, oninput:'this.form.requestSubmit()',class:'form-control float-right',autofocus:true,autocomplete:'off',placeholder:'Tên / SĐT'  %>
                  </div>
                <% end %>
              </div>
            </div>
            <!-- /.card-header -->
            <%= turbo_frame_tag :results do %>
              <%= render partial: "home/list/listr", locals: { refs: @refs } %>
            <% end%>

          </div>
          <!-- /.card -->
        </div>

        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>

</div>
<div class="modal fade" id="modal-xl">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Chi Tiết Người Giớ Thiệu</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-4">
            <!-- Profile Image -->
            <div class="card card-primary card-outline">
              <div class="card-body box-profile">
                <div class="text-center">
                  <img class="profile-user-img img-fluid img-circle"
                       src=""
                       alt="Ref pic" id="refpic">
                </div>

                <h3 class="profile-username text-center" id="demoName"></h3>

                <p class="text-muted text-center" id="demoPhone"></p>

                <form id="refInfo" autocomplete="off">
                  <ul class="list-group list-group-unbordered mb-3">

                    <li class="list-group-item">
                      <b>Tên</b> <input type="text" class="float-right text-right border-0" id="inpName" name="referrer[name]">
                    </li>
                    <li class="list-group-item">
                      <b>SĐT</b> <input type="text" class="float-right text-right border-0" id="inpPhone" maxlength="10" name="referrer[phone]">
                    </li>
                    <li class="list-group-item">
                      <small></small><b>Banking info</b></small> <textarea type="text" class="float-right border-0" rows="5" id="inpBank" name="referrer[banking_informations]"></textarea>
                    </li>
                  </ul>
                  <input type="hidden" name="idRef" id="idRef" value="0">
                  <button class="btn btn-primary btn-block" id="refUpdate"><b>Cập Nhật</b></button>
                </form>

              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->

          <div class="col-md-8">
            <div class="card">
              <div class="card-header p-2">
                <ul class="nav nav-pills">
                  <li class="nav-item"><a class="nav-link active" href="#timeline" data-toggle="tab">Lịch Sử Giới Thiệu</a></li>
                </ul>
              </div>
              <div class="card-body">
                <div class="tab-content">


                  <!-- /.tab-pane -->
                  <div class="tab-pane active" id="timeline">
                    <div class="timeline timeline-inverse">

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>







<script type="text/javascript" charset="utf-8">
    window.onload = orderSyle();
  var flagPhone = 0;
    function orderSyle() {
        $('#side-ref').addClass('active').css('background-color', '#3A76ABC9');
    }

    function debounce(fn, delay) {
        var timer = null;
        return function () {
            var context = this, args = arguments;
            clearTimeout(timer);
            timer = setTimeout(function () {
                fn.apply(context, args);
            }, delay);
        };
    }


    $('#prodSearch').keyup(debounce(function (event){
        var kw = $('#prodSearch').val();
        if(kw == '' && kw.length == 0){
            findRefKW(kw,0);
        }else {
            findRefKW(kw,1);
        }

    },3000));

    $('#prodTable').on('click','.btnUp',function (){
        var id =  $(this).attr('id').split('-')[1];
        findRefDetail(parseInt(id),3)
    });

    function findRefKW(kw,choice) {
        var actionUrl = '<%= ref_search_path %>';

        $.ajax({
            type: "GET",
            beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
            url: actionUrl,
            data: {
                kw: kw,
                choice: choice
            }, // serializes the form's elements.
            success: function(data) {


                var hold = ''
                var ref = data.ref;
                for(let i = 0;i < ref.length; i++  ){

                    hold += '<tr>'+
                      '<td>'+ref[i].name+'</td>'+
                      '<td>'+ref[i].phone+'</td>'+
                      '<td><button class="btn btn-outline-success float-right btnUp" id="ref-'+ref[i].id+'" data-toggle="modal" data-target="#modal-xl"><i class="fas fa-circle-info"></i></button> </td></tr>';
                }
                $('#prodTable tbody').html(hold);

            }
        });
    }

    $('.modal-xl').on('input propertychange','#inpPhone',function () {
        $(this).val($(this).val().replace(/[^0-9+]/g, ''));
        var hold = $(this).val().length;
        var checkPhoneURL = "<%= ref_phone_check_path %>";
        console.log(flagPhone)
        if (hold == 10 && $(this).val() !=flagPhone){
            $.ajax({
                type: "GET",
                beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
                url: checkPhoneURL,
                data: {
                    phone:  $(this).val()
                },
                success: function(data) {
                    if(data.status == true) {
                        toastr.info('Được sử dụng số này', '', {
                            timeOut: 2000,
                            progressBar: true,
                            progressAnimation: 'increasing'
                        });
                        $('#refUpdate').removeAttr('disabled')

                    } else {
                        toastr.warning(data.ref.name, "NGT Tên:", {
                            timeOut: 2000,
                            progressBar: true,
                            progressAnimation: 'increasing'
                        });
                        $('#inpPhone').addClass("border-warning").css('border-width','thick');
                        setTimeout(function(){
                            $('#inpPhone').removeClass("border-warning").css('border-width','1px');
                        },2000);

                        $('#refUpdate').attr('disabled','disabled')
                    }
                }
            });
        }

    });

    function findRefDetail(id,choice) {
        var actionUrl = '<%= ref_search_path %>';

        $.ajax({
            type: "GET",
            beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
            url: actionUrl,
            data: {
                id: id,
                choice: choice
            },
            success: function(data) {
                console.log(data)
                //    Ref
                $('#refpic').attr('src','https://avatars.dicebear.com/api/adventurer/'+data.ref.phone+'.svg')
                $('#demoName').html (data.ref.name);
                $('#demoPhone').html(data.ref.phone);
                $('#inpName').val (data.ref.name);
                $('#inpPhone').val(data.ref.phone);
                $('#inpBank').val(data.ref.banking_informations);
                flagPhone = data.ref.phone;
                $('#idRef').val(data.ref.id);
                //  Order
                printOrder(data.orders);
            }
        });
    }

    function formatDate(date) {
        var d = new Date(date),
            day = d.getDate() < 10 ? '0'+ d.getDate() : d.getDate(),
            month = (d.getMonth() + 1) < 10 ? '0'+ (d.getMonth() + 1) : (d.getMonth() + 1),
            year = d.getFullYear(),
            hour = d.getHours() < 10 ? '0'+ d.getHours() : d.getHours(),
            min = d.getMinutes() < 10 ? '0'+ d.getMinutes() : d.getMinutes(),
            sec = d.getSeconds()< 10 ? '0'+ d.getSeconds() : d.getSeconds();

        if (month.length < 2) month = '0' + month;
        if (day.length < 2) day = '0' + day;
        a = [ day,month,year].join('/');
        b = [hour, min].join(':');

        return a + ' ' + b;
    }

    function printOrder(orders){
        var hold = '';
        if(orders.length == 0){
            $('.timeline-inverse').html('');
            $('.timeline-inverse').html('Chưa Có Đơn Giới Thiệu Nào');

        }else{

        for (let i = 0;i < orders.length;i++) {

            hold += '<div class="time-label"><span class="bg-danger">' +
              formatDate(orders[i].created_at) +
              '</span></div>' +
              '<div><div class="timeline-item">' +
              '<h3 class="timeline-header border-0">' +
              '<span class="text-bold text-blue"> Tổng Giá: ' + orders[i].total + '</span> <ul>' +
              '<li>Giảm Giá: <b>' + orders[i].discount + '</b></li>' +
              '<li>Phí ship: <b>' + orders[i].shipping_cost + '</b></li>' +
              '<li>Cập Nhật Lần Cuối: ' + formatDate(orders[i].updated_at) + '</li></ul>' +
              '</h3></div></div>';
        }

            $('.timeline-inverse').html('');
            $('.timeline-inverse').html(hold);
            $('.timeline-inverse').append('<div><i class="far fa-clock bg-gray"></i></div>');
        }



    }



    $("#modal-xl").on('click','#refUpdate',function(e) {
        e.preventDefault();
        var actionUrl = '<%= ref_info_path %>';
        var form = $('form#refInfo');

        $.ajax({
            type: "PUT",
            beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
            url: actionUrl,
            data: form.serialize(), // serializes the form's elements.
            success: function(data) {
                if(data.statusx == true){
                    toastr.success('Cập Nhật Thông Tin Thành Công','',{
                        timeOut: 3000,
                        progressBar: true,
                        progressAnimation: 'increasing'
                    });
                    flagPhone = $('#inpPhone').val();
                    $('#demoName').html ($('#inpName').val());
                    $('#demoPhone').html($('#inpPhone').val());

                }

            }
        });
    });


</script>


