<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-1">

      </div>
    </div>
  </div>

  <section class="content">
    <div class="container-fluid">

      <div class="row">
        <!-- Customer Table -->

        <!-- Ref table -->
        <div class="col-12">

          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Tất cả NGT</h3>

              <div class="card-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                  <input type="text" id="prodSearch" name="table_search" class="form-control float-right" placeholder="Tên / SĐT">


                </div>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0" style="height: 400px;">
              <table id="prodTable"  class="table table-head-fixed table-striped text-nowrap">

                <thead>
                <tr>
                  <th>Tên</th>
                  <th>SĐT</th>
                  <th style="width: 20px;">Thao Tác</th>
                </tr>
                </thead>

                <tbody>
                <% @refs.each do |ref|  %>
                  <%= render :partial =>  'home/part/referrer', :locals => {:ref => ref} %>
                <% end %>
                </tbody>


              </table>
            </div>
            <!-- /.card-body -->
            <div class="card-footer clearfix">
              <ul class="pagination pagination-sm m-0 float-right">
                <%== pagy_bootstrap_nav(@pagy) %>
              </ul>
            </div>

          </div>
          <!-- /.card -->
        </div>

        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>

</div>

<div class="modal fade" id="modal-md">

  <div class="modal-dialog modal-dialog-centered modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Thêm Sản Phẩm </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="productForm">

        <div class="modal-body">
          <div class="form-group">
            <label for="pname">Tên Sản Phẩm</label>
            <input type="email" class="form-control" id="pname" name="product[name]" placeholder="Nhập Tên">
          </div>
          <div class="form-group">
            <label for="pprice">Giá Sản Pẩm</label>
            <input type="email" class="form-control" id="pprice" name="product[price]" placeholder="Giá">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Dung Tích</label>
            <input type="email" class="form-control" id="pvol" name="product[volume]" placeholder="lít, ml...">
          </div>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
          <button type="button" class="btn btn-primary" id="createProd">Thêm</button>
        </div>
      </form>

    </div>
    <!-- /.modal-content -->

  </div>
  <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-xl">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Extra Large Modal</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-4">
            <!-- Profile Image -->
            <div class="card card-primary card-outline">
              <div class="card-body box-profile">
                <div class="text-center">
                  <img class="profile-user-img img-fluid img-circle"
                       src="../../dist/img/user4-128x128.jpg"
                       alt="User profile picture">
                </div>

                <h3 class="profile-username text-center">Nina Mcintire</h3>

                <p class="text-muted text-center">Software Engineer</p>

                <form id="refInfo" autocomplete="off">
                  <ul class="list-group list-group-unbordered mb-3">

                    <li class="list-group-item">
                      <b>Tên</b> <input type="text" class="float-right text-right border-0" name="referer[name]">
                    </li>
                    <li class="list-group-item">
                      <b>SĐT</b> <input type="text" class="float-right text-right border-0" name="referer[phone]">
                    </li>
                    <li class="list-group-item">
                      <small></small><b>Banking info</b></small> <textarea type="text" class="float-right border-0" rows="5" name="referer[phone]"></textarea>
                    </li>
                  </ul>
                  <button class="btn btn-primary btn-block"><b>Cập Nhật</b></button>
                </form>

              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->

          <div class="col-md-8">
            <div class="card">
              <div class="card-header p-2">
                <ul class="nav nav-pills">
                  <li class="nav-item"><a class="nav-link active" href="#addressPane" data-toggle="tab">Các Địa Chỉ</a></li>
                  <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">Lịch Sử Đơn Hàng</a></li>
                </ul>
              </div><!-- /.card-header -->
              <div class="card-body">
                <div class="tab-content">

                  <div class="active tab-pane" id="addressPane">


                    <!-- Post -->
                    <div class="post">
                      <div class="user-block">
                        <strong>Địa chỉ</strong>
                      </div>

                      <form class="addrForm" id="" >
                        <div class="row">
                          <div class="col col-md-4">
                            <div class="form-group">
                              <label for="province">Tỉnh - Thành Phố</label>
                              <select name="address[province_city]" class="form-control fsel" id="province"></select>
                            </div>
                          </div>

                          <div class="col col-md-4">
                            <div class="form-group">
                              <label for="district">Quận - Hyện</label>
                              <select name="address[district]" class="form-control fsel" id="district">
                              </select>
                            </div>
                          </div>

                          <div class="col col-md-4">
                            <div class="form-group">
                              <label for="ward">Phường - Xã</label>
                              <select name="address[ward]" class="form-control fsel" id="ward">
                              </select>
                            </div>
                          </div>

                        </div>

                        <div class="input-group input-group-sm mb-0">
                          <input class="form-control" type="text" id="street" name="address[street]"
                                 placeholder="Địa chỉ và tên đường">

                          <div class="input-group-append">
                            <button type="submit" class="btn btn-danger">Cập Nhật</button>
                          </div>
                        </div>
                      </form>
                    </div>
                    <!-- /.post -->
                  </div>

                  <!-- /.tab-pane -->
                  <div class="tab-pane" id="timeline">
                    <!-- The timeline -->
                    <div class="timeline timeline-inverse">
                      <!-- timeline time label -->
                      <div class="time-label">
                        <span class="bg-danger">
                          10 Feb. 2014
                        </span>
                      </div>
                      <!-- /.timeline-label -->
                      <!-- timeline item -->

                      <!-- END timeline item -->
                      <!-- timeline item -->
                      <div>
                        <i class="fas fa-user bg-info"></i>

                        <div class="timeline-item">
                          <span class="time"><i class="far fa-clock"></i> 5 mins ago</span>

                          <h3 class="timeline-header border-0"><a href="#">Sarah Young</a> accepted your friend request
                          </h3>
                        </div>
                      </div>
                      <div>
                        <i class="far fa-clock bg-gray"></i>
                      </div>
                    </div>
                  </div>
                  <!-- /.tab-pane -->

                </div>
                <!-- /.tab-content -->
              </div><!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<script type="text/javascript" charset="utf-8">
    window.onload = orderSyle();

    function orderSyle() {
        $('#side-ref').addClass('active').css('background-color', '#3A76ABC9');
    }

    function debounce(fn, delay) {
        var timer = null;
        return function () {
            var context = this, args = arguments;
            clearTimeout(timer);
            timer = setTimeout(function () {
                fn.apply(context, args);
            }, delay);
        };
    }


    $('#prodSearch').keyup(debounce(function (event){
        var kw = $('#prodSearch').val();
        if(kw == '' && kw.length == 0){
            findRefKW(kw,0);
        }else {
            findRefKW(kw,1);
        }

    },3000));

    $('#prodTable').on('click','.btnUp',function (){
        var id =  $(this).attr('id').split('-')[1];
        findProduct(parseInt(id),3)
    });

    function findRefKW(kw,choice) {
        var actionUrl = '<%= ref_search_path %>';

        $.ajax({
            type: "GET",
            beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
            url: actionUrl,
            data: {
                kw: kw,
                choice: choice
            }, // serializes the form's elements.
            success: function(data) {


                var hold = ''
                var ref = data.ref;
                for(let i = 0;i < ref.length; i++  ){

                    hold += '<tr>'+
                      '<td>'+ref[i].name+'</td>'+
                      '<td>'+ref[i].phone+'</td>'+
                      '<td><button class="btn btn-outline-success float-right btnUp" id="ref-'+ref[i].id+'" data-toggle="modal" data-target="#modal-xl"><i class="fas fa-circle-info"></i></button> </td></tr>';
                }
                $('#prodTable tbody').html(hold);

            }
        });
    }


    function findProduct(id,choice) {
        var actionUrl = '<%= find_prod_path %>';

        $.ajax({
            type: "GET",
            beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
            url: actionUrl,
            data: {
                id: id,
                choice: choice
            },
            success: function(data) {

                $('form#productUForm #pname').val(data.prod.name);
                $('form#productUForm #pprice').val(data.prod.price);
                $('form#productUForm #pvol').val(data.prod.volume);
                $('form#productUForm #prodID').val(data.prod.id)

            }
        });
    }


    $("#createProd").click(function(e) {
        e.preventDefault();
        var actionUrl = '<%= add_prod_path %>';
        var form = $('form#productForm');

        $.ajax({
            type: "POST",
            beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
            url: actionUrl,
            data: form.serialize(), // serializes the form's elements.
            success: function(data) {
                toastr.success(data.prod.name,data.message,{
                    timeOut: 3000,
                    progressBar: true,
                    progressAnimation: 'increasing'
                });

                var hold = ''
                hold += '<tr><td>'+data.prod.name+'</td>';
                hold += '<td>'+data.prod.price+'</td>';
                hold += '<td>'+data.prod.volume+'</td>';
                hold += '<td> <button class="btn btn-outline-success float-right btnUp" id="prod-'+data.prod[i].id+'" data-toggle="modal" data-target="#modal-md2"><i class="fas fa-circle-info"></i></button></td></tr>';
                $('#prodTable tbody').append(hold);

                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
                $("#modal-md").removeAttr("role").removeAttr("aria-modal").removeClass('show').css('display','none');
            }
        });
    });

    $(".delProd").click(function(e) {
        e.preventDefault();
        var actionUrl = '<%= delete_prod_path %>';
        var id = $('#prodID').val();
        $.ajax({
            type: "DELETE",
            beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
            url: actionUrl,
            data: {
                id:id
            }, // serializes the form's elements.
            success: function(data) {
                toastr.success(data.message,'',{
                    timeOut: 3000,
                    progressBar: true,
                    progressAnimation: 'increasing'
                });

                findRefKW('',0);
            }
        });
    });

    $(".uProd").click(function(e) {
        e.preventDefault();
        var actionUrl = '<%= update_prod_path %>';
        var form = $('form#productUForm');

        $.ajax({
            type: "PUT",
            beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
            url: actionUrl,
            data: form.serialize(), // serializes the form's elements.
            success: function(data) {
                toastr.success(data.message,'',{
                    timeOut: 3000,
                    progressBar: true,
                    progressAnimation: 'increasing'
                });

                findRefKW('',0);
            }
        });
    });



</script>


