<div class="card card-primary">
  <div class="card-header">
    <h3 class="card-title">Quick Example</h3>
  </div>

  <%= form_with(url: product.persisted? ? admin_product_path(product) : admin_products_path, model: product, html: { autocomplete: 'off', id:"productForm" }) do |form| %>
    <div class="card-body">
      <div class="form-group">
        <%= form.label 'Tên Sản Phẩm', class:"form-label",for:"pname" %>
        <%= form.text_field :name,class:"form-control",id:"pname" %>
      </div>
      <div class="form-group">
        <%= form.label 'Giá Sản Pẩm', class:"form-label",for:"pprice" %>
        <%= form.text_field :price,class:"form-control",id:"pprice" %>
      </div>
      <div class="form-group">
        <%= form.label 'Dung Tích', class:"form-label",for:"pvol" %>
        <%= form.text_field :volume,class:"form-control",id:"pvol" %>
      </div>
    </div>
    <div class="card-footer justify-content-between">
      <%= form.submit 'Submit', class:"btn btn-success" %>
    </div>
  <% end %>
</div>
