  <aside class="main-sidebar elevation-4 sidebar-light-olive">
    <!-- Brand Logo -->
    <a href="<%= root_path %>" class="brand-link">
      <img src="<%= image_tag 'lib/assets/logo.png' %> %>" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .9">
      <span class="brand-text font-weight-bold text-decoration-none text-red text-bold nav-link:hover{color:red;}">Quản
        Lý Đơn Hàng</span>
    </a>

    <!-- Sidebar -->
    <div
      class="sidebar os-host os-host-overflow os-host-overflow-y os-host-resize-disabled os-host-transition os-theme-dark os-host-scrollbar-horizontal-hidden">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="https://avatars.dicebear.com/api/adventurer/<%= rand(1..10)%>.svg" class="img-circle elevation-2"
            alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">User NAME</a>
        </div>
      </div>

      <!-- SidebarSearch Form -->
      <%# <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div> %>
      <!-- /SidebarSearch Form -->

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item nitem1">
            <a href="<%= root_path %>" id="side-home" class="nav-link ">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Trang Chủ
              </p>
            </a>
          </li>

          <li class="nav-item nitem2">
            <a href="#" id="side_order_menu" class="nav-link">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Đơn Hàng
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="<%= new_order_path %>"  id="side_order1" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Đơn Hàng Mới</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="./index2.html" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Quản Lý Đơn Hàng</p>
                </a>
              </li>
            </ul>
          </li>

        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
<script>
var x = 0;
    $('.nitem2').click(function (){
    if(x == 0){
        $('.right').removeClass('fa-angle-down').addClass('fa-angle-left');
        x = 1;
    } else if (x == 1){
        $('.right').removeClass('fa-angle-down').addClass('fa-angle-down');
        x = 0;
    }

    });
</script>
