<!DOCTYPE html>
<html>
  <head>
    <title>Bs4</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">

    <link rel="stylesheet" href="../lib/adminlte.min.css">
    <script src="../lib/jquery/jquery.min.js"></script>
    <script src="../lib/jquery-ui/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="../lib/toastr/toastr.min.css">
    <link rel="stylesheet" href="../lib/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="../lib/overlayScrollbars/css/OverlayScrollbars.min.css">

  </head>
  <body class="hold-transition sidebar-mini layout-fixed">
  <div class="wrapper">
 <%= render  'layouts/header'  %>


 <%= render  'layouts/sidebar'  %>

    <%= yield %>
<%= render 'layouts/footer' %>
  </div>

<%#



<%# <script src="https://adminlte.io/themes/v3/plugins/jquery/jquery.min.js"></script> %>

<%# <script src="https://adminlte.io/themes/v3/plugins/jquery-ui/jquery-ui.min.js"></script> %>
    <script src="../lib/toastr/toastr.min.js"></script>
    <script src="../lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="../lib/adminlte.js"></script>
    <script src="../lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../lib/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
   <script type="module" src="../lib/popper/popper.min.js"></script> %>

<style>

</style>
  </body>
</html>
