<!DOCTYPE html>
<html>
  <head>
    <title>Bs4</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
   <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/css/adminlte.min.css">
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>




  </head>
  <body class="hold-transition sidebar-mini layout-fixed">
  <div class="wrapper">
 <%= render  'layouts/header'  %>

 <%= render  'layouts/sidebar'  %>

    <%= yield %>
<%= render 'layouts/footer' %>
  </div>

<style>

</style>
  </body>
</html>
